# Loops in python 
 - for
   - used when the number of iterations(steps) is known or the length of iterable is known 
   
 - While 
    - used when we use a condition to iterate a program and total iterations depends on the logics




    **what u need to know**
    for loops using iterable
    range () and its options
    nested loops

    aggregation using loops
    enumerate()
    Zip()
    break and continue
    for- else loop
    while loop
    infinite loop
    while-else loop

In [1]:
name = "Raja suraj singh"
len(name)

16

In [3]:
for val in name:
    print(val, end='_')

R_a_j_a_ _s_u_r_a_j_ _s_i_n_g_h_

In [13]:
for i in [ 1,2,3,4,5,6,7,8,9,0] :
  print('val',i)

val 1
val 2
val 3
val 4
val 5
val 6
val 7
val 8
val 9
val 0

In [16]:
for i in range(5):
    print('YO',)

YO
YO
YO
YO
YO

**range() function**
we have three variations of range function
1 range (val)-> the range starts from 0 and goes till val -1
range (starts , stop)->the range starts from start value and stops as stops -1
range (start, stop, stop) -> the range starts and stop normal but values have a gap og step value

In [21]:
 for i in range(5,10):
    print(i, end = ',')

5,6,7,8,9,

In [22]:
for i in range(5,10 ,2):
    print(i, end = ',')

5,7,9,

 here f is used as special string system formixing variables and normal messages for displaying better response

In [26]:
for i in range (1,11):
 print( f'2*{i}={2*i}')

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
2*10=20

In [29]:
for i in range (1,11):
 print( f'{i} {i**2}{i**3}{i**4}{i**5}')

1 1111
2 481632
3 92781243
4 16642561024
5 251256253125
6 3621612967776
7 49343240116807
8 64512409632768
9 81729656159049
10 100100010000100000

In [31]:
words = ['apple','balloon','cherry','dog','flcon']
for item in words:
    print(item)

apple
balloon
cherry
dog
flcon

here enumerate is a function jo count kerta hai intex ko kisi variable ki
 yaha world varible me jitne bi item hai unki idex vale print hogi enumerate function ke dwara

In [32]:
for idx , Item in enumerate(words):
    print(idx,item)

0 flcon
1 flcon
2 flcon
3 flcon
4 flcon

## revese loop chal rha hai

In [2]:
for i in range (10,0,-1):
    print(i, end=' ')

10 9 8 7 6 5 4 3 2 1

wap to find prime number (H W)

In [13]:
values = [1,2,3,4,5,6,7,8,9,0]

In [4]:
total=0
for i in values:
    total+=1
print(total)

10

In [17]:
maximum = values[7] # by defalt assume first one is max 
for i in values :
    if i> maximum:
        maximum = i
print(maximum)

9

In [19]:
sum(values)/len(values)

4.5

In [31]:
numbers = [1,2,3,4,5,6,8,9,10]
for i in numbers:
     if i / 2==0:
         n = sum(i)